@import url('https://fonts.googleapis.com/css?family=Montserrat:900,600,400&display=swap');

body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(0,0,0,1) 100%);
}
.App {
  background-color: #292929;
  color:#eee;
  font-family: 'Montserrat', sans-serif;

  .header-container {
    margin-top: 2em;
    padding: 1em;
    background-color: #000;

    .header {    
      font-weight: 900;
    }
    hr {
      border-color: #eee;
    }
    .sub-header {
      font-weight: 400;
    }
  }

  .BriefsList{
    padding: 1em;
  }
  
}

.BriefPreview {

  margin: 1em;
  border: 1px solid #ccc;

  .lessonName {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: 600;
    background-color:#054081;
    color: #cbf0fe;
  }

  .briefName {
    padding: 0.5em;
  }
  
}

.Brief{

  .panel{
    padding: 2em;
  }
  .submittedAnswer{
    color: #000;
  }

}

.link {
  cursor: pointer;
  

}

.goto-brief-list-link {
  margin: 1em 0em;
}